.result {
  display: block;
}

.result-content {
  display: inline-block;
}

.result-actions {
  display: inline-block;
  vertical-align: top;
}

@media (min-width: 651px) {
  .inner {
    width: 600px;
  }

  .wrapped {
    width: 100%;
  }

  form {
    display: block;
  }

  .field {
    display: inline-block;
  }

  .field input,select {
    display: inline-block;
    line-height: 1em;
  }
}
