html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #008B8B;
}

h1,h2,h3,h4,h5,h6 {
  color: #1A6868;
}

input[type=text], select {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1em;
  border: 1px solid #BBB;
  border-radius: 5px;
}

input[type=submit] {
  box-sizing: border-box;
  display: block;
  margin: .5em 0;
  width: 100%;
  height: 2.5em;
  font-weight: bold;
  font-size: 1em;
  background: #1A6868;
  color: #FFF;
  border: none;
  border-radius: 5px;
}

button {
  box-sizing: border-box;
  height: 2.5em;
  font-weight: bold;
  font-size: 1em;
  background: #1A6868;
  color: #FFF;
  border: none;
  border-radius: 5px;
}

ol.results {
  padding: 0;
}

li.result {
  list-style-type: none;
  padding: 10px 0;
}

.wrapped {
  margin: 5px;
  padding: 0 10px;
  background: #FFF;
  border-radius: 5px;
}

.outer {
  height: 100%;
  display: flex;
  overflow-y: auto;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: auto;
}

.field {
  margin: .2em 0;
}

.content {
  text-align: justify;
}

.content h1 {
  text-align: center;
}

.results-header h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.results-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #ddd;
}

.result-content {
  width: 55%;
}

.result-text {
  word-wrap: break-word;
}

.result-actions {
  width: 40%;
  text-align: right;
}

.result-actions button {
  width: 48%;
  max-width: 100px;
}

.result-lang {
  font-size: .8em;
  color: #666666;
}

@media (min-width: 650px) {
  .container {
    align-items: center;
  }

  .wrapped {
    width: 600px;
  }
}
